<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<div th:fragment="all-products">
    <div th:if="${productsList!=null and !productsList.isEmpty()}">
        <div th:if="${totalPages==1}">Page: 1 of 1</div>
        <div th:if="${totalPages>1}">Pages:
            <span th:each="page:${#numbers.sequence(0, totalPages-1)}">
                <span th:if="${page==currentPage}" th:text="${page+1}"></span>
                <span th:if="${page<=currentPage-5 and page==0}">
                    <a th:href="${urlQuery}+'page=0'">1</a>
                    <span> ... </span>
                </span>
                <a th:if="${page!=currentPage and page>=currentPage-5 and page<=currentPage+5}"
                   th:href="${urlQuery}+'page='+${page}" th:text="${page+1}"></a>
                <span th:if="${page>=currentPage+5 and page==totalPages-1}">
                    <span> ... </span>
                    <a th:href="${urlQuery}+'page='+${page}" th:text="${page+1}"></a>
                </span>
            </span>
            <span th:text="' of '+${totalPages}"></span>
            <br/>
        </div>
        <table>
            <thead>
            <tr>
                <th style="width: 50px">Id</th>
                <th style="width: 300px">Title</th>
                <th style="width: 50px">Cost</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="product : ${productsList}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.cost}"></td>
                <td><a th:with="urlQuery=${#httpServletRequest.getQueryString()}"
                       th:href="'/products/delete/'+${product.id}+'?'+${urlQuery}">
                    <button>Delete</button>
                </a></td>
            </tr>
        </table>
        <script>
            function filterChange() {
                var minCost = document.getElementById('minCost');
                if (minCost.value)
                    minCost = 'minCost=' + minCost.value;
                else
                    minCost = null;
                var maxCost = document.getElementById('maxCost');
                if (maxCost.value)
                    maxCost = 'maxCost=' + maxCost.value;
                else
                    maxCost = null;
                var buttonHref = document.getElementById('filterButton');
                if (minCost != null && maxCost != null)
                    buttonHref.href = "/products?" + minCost + "&" + maxCost;
                else if (minCost != null)
                    buttonHref.href = "/products?" + minCost;
                else
                    buttonHref.href = "/products?" + maxCost;
            }
        </script>
        <table>
            <thead>
            <tr>
                <th colspan="4" style="alignment: center">Filter</th>
            </tr>
            <tr>
                <th style="width: 50px"></th>
                <th style="width: 300px"></th>
                <th style="width: 150px">Cost</th>
            </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="number" id="minCost" name="minCost" placeholder="minCost" onchange="filterChange()">
                    <br/>
                    <input type="number" id="maxCost" name="maxCost" placeholder="maxCost" onchange="filterChange()">
                    <br/>
                    <a id="filterButton" href="/products"><button>Filter</button></a>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <div th:if="${productsList!=null and productsList.isEmpty()}"><h3>Список продуктов пуст</h3></div>
    <br/>
</div>
</body>
</html>