<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="header">
    <h1><a href="/products">Products</a></h1>
    <br/>
</div>
<div th:fragment="all-products">
    <div th:if="${productsList!=null and !productsList.isEmpty()}">
        <table>
            <thead>
            <tr>
                <th style="width: 50px">Id</th>
                <th style="width: 300px">Title</th>
                <th style="width: 50px">Cost</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="product : ${productsList}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.cost}"></td>
                <td><a th:href="'/products/delete/'+${product.id}">
                    <button>Delete</button>
                </a></td>
            </tr>
        </table>
        <script>
            function filterChange() {
                var minCost = document.getElementById('minCost');
                if (minCost.value)
                    minCost = 'minCost=' + minCost.value;
                else
                    minCost = null;
                var maxCost = document.getElementById('maxCost');
                if (maxCost.value)
                    maxCost = 'maxCost=' + maxCost.value;
                else
                    maxCost = null;
                var buttonHref = document.getElementById('filterButton');
                if (minCost != null && maxCost != null)
                    buttonHref.href = "/products?" + minCost + "&" + maxCost;
                else if (minCost != null)
                    buttonHref.href = "/products?" + minCost;
                else
                    buttonHref.href = "/products?" + maxCost;
            }
        </script>
        <table>
            <thead>
            <tr>
                <th colspan="4" style="alignment: center">Filter</th>
            </tr>
            <tr>
                <th style="width: 50px"></th>
                <th style="width: 300px"></th>
                <th style="width: 150px">Cost</th>
            </tr>
            </thead>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <input type="number" id="minCost" name="minCost" placeholder="minCost" onchange="filterChange()">
                    <br/>
                    <input type="number" id="maxCost" name="maxCost" placeholder="maxCost" onchange="filterChange()">
                    <br/>
                    <a id="filterButton" href="/products"><button>Filter</button></a>
                </td>
                <td></td>
            </tr>
        </table>
    </div>
    <br/>
</div>
<div th:object="${product}" th:fragment="one-product">
    <div th:if="${product!=null}">
        <table>
            <thead>
                <tr>
                    <th style="width: 50px">Id</th>
                    <th style="width: 300px">Title</th>
                    <th style="width: 50px">Cost</th>
                </tr>
            </thead>
            <tr>
                <td th:text="${product.id}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.cost}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${id!=null and product==null}">Продукт с таким id не найден</div>
    <br/>
</div>
<footer th:fragment="footer">
    <br/>
    <a href="/products/add">Add product</a>&nbsp;&nbsp;&nbsp;
    <a href="/products/get">Find product by id</a>&nbsp;&nbsp;&nbsp;
    <!--    <a href="/update">Change product</a>-->
</footer>
</body>
</html>