<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<th:block th:fragment="headerlines">
    <meta charset="UTF-8"/>
</th:block>
<body>
<div th:fragment="header">
    <h1><a href="/products">Products</a></h1>
    <br/>
    <a href="/products/add">Add product</a>&nbsp;&nbsp;&nbsp;
    <a href="/products/get">Find product by id</a>&nbsp;&nbsp;&nbsp;
    <!--    <a href="/update">Change product</a>-->
    <br/>
</div>
<footer th:fragment="footer">
    <div style="text-align: center; color: darkgrey">Renat Khusyainov</div>
</footer>
</body>
</html>